<!DOCTYPE html>
<html>
<head>
  <title>Moneycalc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Sign up", signup_path %>
  <%= link_to "Login", login_path %>
  <%= link_to "Logout", logout_url, method: :delete %>
<%= yield %>

</body>
</html>
